# App
APP_HOST="0.0.0.0"
APP_PORT=8080
ENVIRONMENT="dev"
DEBUG=false
LOG_LEVEL="INFO"
{% if cookiecutter.include_database == "y" -%}

# Database
DATABASE_URL="{{ cookiecutter.database_url }}"
DATABASE_TYPE="{{ cookiecutter.database_type }}"
{%- endif %}

# Redis
REDIS_ENABLED=true
REDIS_URL="redis://localhost:6379/0"
REDIS_MAX_CONNECTIONS=10
REDIS_DECODE_RESPONSES=true
REDIS_SOCKET_TIMEOUT=5
REDIS_SOCKET_CONNECT_TIMEOUT=5